<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <!-- includes the Braintree JS client SDK -->
  <!-- drop in demo
  <script src="https://js.braintreegateway.com/web/dropin/1.33.7/js/dropin.min.js"></script>
  -->
  <!-- includes the Braintree JS client SDK hosted fields-->
  <script src="https://js.braintreegateway.com/web/3.88.4/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.88.4/js/hosted-fields.min.js"></script>

  <!-- includes jQuery -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/hosted.css' />
</head>

<body>
  {{{body}}}
</body>

</html>